<div class="p-8">
  <h1 class="text-5xl mb-8"><%= @brainstorm.problem %></h1>
  <% @brainstorm.ideas.order('votes DESC').each do |idea| %>
    <div class="text-2xl mb-8">
      <p class="font-bold"><%= idea.text %> <%= !@brainstorm.anonymous? ? "(#{idea.author})" : "" %> - <%= pluralize(idea.votes, "vote") %></p>
    </div>
    <% idea.idea_builds.each do |idea_build| %>
    <ul class="text-2xl mb-8">
      <li> - <%= idea_build.idea_build_text %> <%= !@brainstorm.anonymous? ? "(#{idea_build.author})" : "" %></li>
    </ul>
    <% end %>
  <% end %>
</div>
