<div id="accountMenuItems" onclick="toggleMenu()" class="hidden fixed inset-0 z-50 flex-row items-center justify-center" style="background-color: rgba(49, 39, 131, 0.9);">
  <div id="sideMenu" class="sideMenu fixed top-0 w-full lg:w-[450px] h-screen right-0 bg-beigy z-50 my-shadow">
    <div class="relative top-1 lg:top-8 lg:right-28 lg:text-left text-right mr-12 lg:mr-0 cursor-pointer">
      <div class="font-bold justify-center uppercase inline-flex my-shadow px-8 py-3 text-blurple focus:outline-none gap-8 flex-row items-center my-shadow lg:px-8 bg-white border-solid border-2 border-white">
        <p class="uppercase"><%= "#{current_user ? current_user.name : @session.name}" %></p>
        <span class="text-6xl lg:text-2xl hvr-grow material-icons-outlined">close</span>
      </div>
    </div>
    <div class="w-full items-center flex flex-col justify-between h-full font-semibold text-6xl lg:text-xl">
      <div class="flex flex-col h-full justify-around">
        <% if current_user %>
          <div class="flex flex-col lg:gap-8 gap-28 mt-10">
            <%= link_to "Front Page", root_path, class: "hvr-grow uppercase" %>
            <%= link_to "Your brainstorms", your_brainstorms_path, class: "hvr-grow uppercase" %>
            <%= link_to "Your account", edit_user_registration_path, class: "hvr-grow uppercase" %>
            <%= link_to "Your plan", your_plan_path, class: "hvr-grow uppercase" %>
          </div>
          <div class="flex flex-col gap-10">
            <%= link_to destroy_user_session_path, method: :delete, class:"uppercase" do %>
            <div class="flex flex-row gap-4 items-center hvr-grow lg:text-xl text-5xl">
              <span class="text-6xl lg:text-xl material-icons-outlined">logout</span>
              <p>Log out</p>
            </div>
            <% end %>
            <% if !current_user.paid_plan?%>
              <div class="border-solid border border-blurple lg:p-6 p-16 italic text-black lg:text-xs text-2xl flex flex-col gap-8 lg:gap-2">
                <div class="italic text-center">
                  <p>Ready to go beyond this free plan?</p>
                  <p>Upgrade for premium features <span class="not-italic">&#128525;</span> </p>
                </div>
                <p><%= link_to "Upgrade", pricing_path, class:"hvr-grow not-italic uppercase bg-blurple lg:p-2 p-10 text-white my-shadow lg:text-base text-5xl justify-center flex text-center" %></p>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="flex flex-col gap-8 mb-40">
            <%= link_to "Front page", root_url, class: "hvr-grow" %>
            <%= link_to "Sign up", select_sign_up_method_path, class: "hvr-grow" %>
            <%= link_to "Sign in", new_user_session_path, class: "hvr-grow" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>