<div>
  <div class="flex flex-col my-16 lg:my-0">
    <div class="grid grid-cols-3 grid-flow-row gap-6 mt-10 mb-12">
      <div class="<%= current_user.facilitator_plan? ? "invisible" : "" %> -mb-4 font-semibold lg:text-xs text-xl bg-blurple text-white w-max my-shadow-sm px-2">Current plan</div>
      <div class="<%= !current_user.facilitator_plan? ? "invisible" : "" %> -mb-4 font-semibold lg:text-xs text-xl bg-blurple text-white w-max my-shadow-sm px-2">Current plan</div>
      <div class="invisible -mb-4 font-semibold lg:text-xs text-xl bg-blurple text-white w-max my-shadow-sm px-2">Current plan</div>
      <div class="my-shadow-sm text-blurple <%= current_user.facilitator_plan? ? "bg-white" : "bg-beigy" %> font-bold py-6 text-center lg:text-lg text-3xl">HOBBYIST</div>
      <%= link_to pricing_path do %>
        <div class="my-shadow-sm text-white <%= current_user.facilitator_plan? ? "bg-greeny text-white" : "bg-white text-blurple" %> font-bold py-6 text-center lg:text-lg text-3xl">FACILITATOR</div>
      <% end %>
      <%= link_to pricing_path do %>
        <div class="my-shadow-sm bg-white text-blurple font-bold py-6 text-center lg:text-lg text-3xl">ORGANIZATION</div>
      <% end %>
      <div class="text-center italic lg:text-base text-2xl">Free</div>
      <div class="text-center italic lg:text-base text-2xl">Paid</div>
      <div class="text-center italic lg:text-base text-2xl">Paid</div>
    </div>
    <% if current_user.facilitator_plan? %>
      <h2 class="text-4xl lg:text-2xl font-semibold text-blurple lg:my-2 my-12">Plan details</h2>
    <% end %>
    <% current_user.subscriptions.active.each do |subscription| %>

      <div class="lg:mb-4 mb-12">
        <div class="flex flex-col">
          <p class="uppercase lg:text-lg text-3xl font-semibold">Facilitator - <%= subscription.data.dig("subscription_items")[0].dig("price", "recurring", "interval") %>ly 
            <span class="text-sm font-normal <%= subscription.ends_at.nil? ? "bg-greeny" : "bg-reddy"  %> text-white px-1"><%= subscription.ends_at.nil? ? "active" : "cancelled"  %></span>
            <% if subscription.status == "trialing" %>
              <span class="text-sm font-normal bg-blurple text-white px-1">TRIAL</span>
            <% end %>
          </p>
        </div>
        <% if subscription.ends_at.nil? %>
          <p class="lg:text-base text-xl">Your plan will be renewed again in <%=(subscription.current_period_end.to_date - Date.today).to_i %> days. &#127881;</p></br>
        <% end %>
        <% if subscription.ends_at? %>
          <p class="lg:text-base text-xl">You have cancelled your plan, but you still have access for <%= (subscription.ends_at.to_date - Date.today).to_i %> days.</p></br>
        <% end %>
        <% if subscription.status == "trialing" %>
          <p class="lg:text-base text-xl">You're currently on a free trial! If you have entered your credit card details, the trial will continue as a normal subscription in <%= (subscription.trial_ends_at.to_date - Date.today).to_i %> days.</p></br>
          <p>If you haven't entered your credit card details, you can do that by clicking "manage plan".</p>
        <% end %>
      </div>
    <% end %>

    <% if current_user.facilitator_plan? %>
     <%= link_to "Manage plan", @portal_session.url, class: "lg:mt-2 mt-12 hvr-grow px-10 py-2 my-shadow-lg text-blurple lg:text-lg text-3xl font-bold bg-light-greeny active:bg-light-greeny-darker cursor-pointer w-max self-end" %>
    <% else %>
      <%= link_to "Upgrade", checkouts_path(plan: :monthly), class: "lg:mt-2 mt-12cur hvr-grow px-10 py-2 my-shadow-lg text-blurple lg:text-lg text-3xl font-bold bg-light-greeny active:bg-light-greeny-darker cursor-pointer w-max self-end" %>
    <% end %>
  </div>
</div>
