<%= form_for(@idea_build, url: idea_idea_builds_path(idea.id), remote: true, html: { autocomplete: "off", class: "flex flex-col w-full" }) do |f| %>
<div class="lg:w-64 w-full bg-post-it-yellowy<%= idea.opacity_lookup_next_idea_build %> italic lg:px-4 px-10 lg:pt-6 lg:pb-1 pt-14 pb-8">
<h2 class="font-bold lg:m-0 text-blurple text-5xl lg:text-xl">#<%= idea.number %>.<%= idea.idea_builds.second_to_last ? idea.idea_builds.second_to_last.decimal + 1 : "1" %></h2>
  <div class="field mt-8">
    <%= f.text_area :idea_build_text, class:"w-full h-screen/5 lg:h-32 opacity-75 italic font-bold focus:outline-none border-dashed border-black border-2 py-2 px-4 block appearance-none leading-loose lg:leading-normal break-words md:text-5xl lg:text-xl lg:text-base" %>
  </div>
  <div id="error-field-idea-build">
    <%= render "shared/validation_error" %>
  </div>
  <%= f.hidden_field :idea_id, :value => idea.id %>
  <%= f.hidden_field :brainstorm_id, :value => brainstorm.id %>
  <%= f.hidden_field :author, :value => session.name %>
  <p id="characterCountIdeaBuild" class="md:text-4xl lg:text-xs mt-1 mb-4 ml-auto justify-end flex"></p>
</div>

  <button id="addIdeaBuildPin" type=submit class="gap-2 justify-center flex flex-row items-center bg-lighter-gray lg:h-14 h-32 disabled hover:bg-post-it-yellowy text-white hover:text-blurple hover:border-2 hover:border-blurple hover:border-solid uppercase font-bold pointer-events-none">
    <p class="lg:text-base text-4xl">ADD</p>
    <span class="material-icons lg:text-xl text-5xl">push_pin</span>
  </button>

<% end %>