<%= turbo_frame_tag "category_tags" do %>
  <div class="flex flex-wrap gap-2 mt-2">
  <% all_category = Category.new(name: "All", id: 0) %>
  <%= form_with url: filter_categories_path(clicked_category_id: all_category.id), name: nil, local: true, method: :post, class: "", id: "", data: { "turbo": true } do |f| %>
    <%= button_tag type: 'submit', class: "focus:outline-none w-full flex flex-row items-end", data: { "turbo": true }  do %>
      <span class="<%= selected_category === "All" ? 'bg-blurple text-white' : 'bg-blurple-gray text-black' %> inline-block px-3 py-1 text-sm font-semibold mr-2 mb-2">
        <%= all_category.name + " (#{ all_brainstorms_count })" %>
      </span>
    <% end %>
  <% end %>

    <% categories.each do |category| %>
      <%= form_with url: filter_categories_path(clicked_category_id: category.id), name: nil, local: true, method: :post, class: "", id: "", data: { "turbo": true } do |f| %>
        <%= button_tag type: 'submit', class: "focus:outline-none w-full flex flex-row items-end", data: { "turbo": true }  do %>
          <span class="<%= selected_category === category ? 'bg-blurple text-white' : 'bg-blurple-gray text-black' %> inline-block px-3 py-1 text-sm font-semibold mr-2 mb-2">
            <%= category.name + " (#{ category.brainstorms.count })" %>
          </span>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>