<div class="fixed inset-0 z-50 flex flex-row items-center justify-center" style="background-color: rgba(251, 237, 235, 0.5);">
  <div class="flex flex-row w-full mx-0 lg:w-3/5 items-start">
    <div id="list-of-ideas-to-merge" class="flex lg:flex-col flex-row justify-between w-full lg:h-160 h-screen overflow-y-auto">
      <div class="lg:text-base text-4xl my-shadow bg-post-it-yellowy text-blurple">
        <div class="gap-4 flex flex-col lg:px-4 px-10 pr-40 lg:pr-0 lg:py-4 py-12 border-solid border-b-2 border-blurple">
          <p class="italic">#<%= source_idea.number %>: <%= source_idea.text %></p>
          <p class="font-bold">Merge idea <span>#<%= source_idea.number %></span> into...</p>
        </div>
        <% brainstorm.ideas.order('id ASC').each do |target_idea| %>
        <% next if target_idea.id == source_idea.id %>
          <%= button_to idea_merge_path(source_idea.id, target_idea.id), method: :post, remote: true, class: "w-full hover:bg-blurple hover:text-white lg:px-4 px-10 lg:py-8 py-20 lg:text-sm text-4xl", form_class: "even:bg-post-it-yellowy-70 odd:bg-post-it-yellowy-40" do %>
              <p class="">#<%= target_idea.number %>: <%= target_idea.text %></p> 
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="flex lg:flex-col flex-row items-center justify-center bg-white text-black lg:w-16 lg:h-16 w-40 h-40 -ml-40 lg:-ml-0 my-shadow cursor-pointer hvr-grow">
      <span class="material-icons lg:text-3xl text-9xl font-bold">close</span>
    </div>
  </div>
</div>
