<div>
  <div class="flex md:flex-col lg:flex-row md:p-4 lg:p-0 justify-center mx-auto lg:max-w-screen-xl">
    <div id="timerPhoneSection" class="text-5xl mb-8 my-shadow-lg py-8 w-full bg-white flex lg:hidden items-center justify-between">
    <% if @current_facilitator %>
      <div onclick="copyUrlMobile(getURL())" class="active:bg-greeny-gray ml-4 w-24 h-24 flex flex-col justify-center items-center">
        <svg class="h-20 w-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" fill="#000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3.96 11.38C4.24 9.91 5.62 8.9 7.12 8.9h2.93c.52 0 .95-.43.95-.95S10.57 7 10.05 7H7.22c-2.61 0-4.94 1.91-5.19 4.51C1.74 14.49 4.08 17 7 17h3.05c.52 0 .95-.43.95-.95s-.43-.95-.95-.95H7c-1.91 0-3.42-1.74-3.04-3.72zM9 13h6c.55 0 1-.45 1-1s-.45-1-1-1H9c-.55 0-1 .45-1 1s.45 1 1 1zm7.78-6h-2.83c-.52 0-.95.43-.95.95s.43.95.95.95h2.93c1.5 0 2.88 1.01 3.16 2.48.38 1.98-1.13 3.72-3.04 3.72h-3.05c-.52 0-.95.43-.95.95s.43.95.95.95H17c2.92 0 5.26-2.51 4.98-5.49-.25-2.6-2.59-4.51-5.2-4.51z"/></svg>
      </div>
    <% else %>
      <div class="ml-4 w-24 h-24"></div>
    <% end %>
      <p id="timerPhoneElement" data-running="<%= @brainstorm.timer.running? %>" data-duration="<%= @brainstorm.timer.duration %>" data-seconds-left="<%= @brainstorm.timer.remaining_seconds %>"></p>
      <% if @current_facilitator %>
        <%= link_to brainstorm_timer_path(@brainstorm.token), remote: true, method: :patch, class: "h-24 w-24 mr-4" do %>
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="#000000"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><g><path d="M6,13c0-1.65,0.67-3.15,1.76-4.24L6.34,7.34C4.9,8.79,4,10.79,4,13c0,4.08,3.05,7.44,7,7.93v-2.02 C8.17,18.43,6,15.97,6,13z M20,13c0-4.42-3.58-8-8-8c-0.06,0-0.12,0.01-0.18,0.01l1.09-1.09L11.5,2.5L8,6l3.5,3.5l1.41-1.41 l-1.08-1.08C11.89,7.01,11.95,7,12,7c3.31,0,6,2.69,6,6c0,2.97-2.17,5.43-5,5.91v2.02C16.95,20.44,20,17.08,20,13z"/></g></g></svg>
        <% end %>
      <% end %>
      <% if !@current_facilitator %>
        <div class="mr-4 w-24 h-24"></div>
      <% end %>
    </div>
    <div class="flex-col flex w-full lg:ml-16">
      <div class="flex-col flex w-full">
        <h1 class="problem lg:mr-8 p-3 text-7xl lg:text-5xl text-white font-bold uppercase bg-blurple leading-tight my-shadow-lg"><%=@brainstorm.problem %></h1>
      </div>
      <div class="flex-col flex w-full mb-16">
        <div id="add-idea-form" class="w-full">
          <%= render 'add_idea_form' %>
        </div>
      </div>
      <div class="block w-full lg:flex lg:flex-wrap lg:justify-between lg:px-0 px-16 ml-0 lg:p-0" id="ideas">
        <% @ideas.order('id DESC').each do |idea| %>
          <div class="flex flex-col lg:mb-12 mb-28">
            <div id="group-hover-div-<%= idea.id %>" class="group my-shadow mr-8 my-8 lg:my-4">
              <div class="relative relativeClass">
                <div class="select-none idea-card lg:h-64 lg:w-64 w-full lg:px-4 px-10 lg:pt-6 lg:pb-1 pt-14 pb-8 flex flex-col items-start justify-between italic bg-post-it-yellowy cursor-default">
                  <h2 class="font-bold mb-4 lg:m-0 text-blurple text-5xl lg:text-xl">#<%= idea.number %></h2>
                  <div class="flex flex-col justify-between h-full">
                    <p class="font-bold mb-4 lg:m-0 text-4xl lg:text-base leading-loose lg:leading-normal break-words w-full"><%= idea.text %></p>
                    <p class="font-extralight lg:m-0 text-2xl lg:text-sm leading-loose lg:leading-normal break-words w-full"><%= idea.author if !@brainstorm.anonymous? %></p>
                  </div>
                </div>
                <% idea.idea_builds.order(:id).each do |idea_build| %>
                  <div class="lg:w-64 w-full bg-post-it-yellowy-<%= idea_build.opacity_lookup %> italic lg:px-4 px-10 lg:pt-6 lg:pb-1 pt-14 pb-8">
                    <h2 class="font-bold lg:m-0 text-blurple text-5xl lg:text-xl">#<%=idea.number %>.<%= idea_build.decimal %></h2>
                    <div class="flex flex-col justify-between h-full">
                      <p class="font-bold pb-4 text-4xl lg:text-base leading-loose lg:leading-normal break-words w-full "><%= idea_build.idea_build_text %></p>
                      <p class="font-extralight lg:m-0 text-2xl lg:text-sm leading-loose lg:leading-normal break-words w-full"><%= idea_build.author if !@brainstorm.anonymous? %></p>
                    </div>
                  </div>
                <% end %>
                <div id="idea-sticky-container-<%= idea.id %>" class="absolute absoluteClass w-full z-50 bg-white my-shadow">
                  <div id="idea-sticky-<%= idea.id %>" class="hidden group-hover:flex flex-row items-center lg:h-14 h-32">
                    <div class="flex flex-row w-full leading-none justify-center text-white h-32 lg:h-14">
                      <%= button_to idea_show_idea_build_form_path(idea), remote: true, method: :post, class: "h-full w-full", form_class: "w-full" do %>
                        <p class="bg-blurple hover:bg-post-it-yellowy hover:text-blurple hover:border-2 hover:border-blurple hover:border-solid h-full flex flex-col justify-center lg:text-base text-4xl uppercase font-bold">Build on idea</p>
                      <% end %>
                      <% if @current_facilitator %>
                        <%= button_to idea_toggle_idea_menu_path(idea.id), remote: true, method: :post, class: "h-full w-full bg-white hover:bg-post-it-yellowy", id: "more-options-#{idea.id}", form_class: "toggleIdeaMenuButton" do %>
                          <span class="lg:w-8 w-16 material-icons hover:border-2 hover:border-blurple hover:border-solid h-full text-blurple flex flex-col justify-center lg:text-2xl text-6xl">more_vert</span>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <div id="add-idea-build-form-idea-<%= idea.id %>"></div>
                </div>
                <div id="idea-menu-idea-<%= idea.id %>"></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex-col <% @current_facilitator ? "" : "hidden" %> lg:flex md:mt-12 lg:mt-0">
      <div class="flex flex-col items-center w-full lg:w-64 lg:bg-white bg-transparent my-shadow-only-desktop mr-16 lg:p-6">
        <h2 id="timerSectionTitle" class="hidden lg:flex italic font-semibold text-xl text-blurple">Time</h2>
        <div id="timerSection" class="hidden lg:flex text-3xl font-bold bg-white text-black border-2 border-dashed border-black rounded-full h-40 w-40 items-center justify-center my-4">
          <p id="timeDisplay" data-running="<%= @brainstorm.timer.running? %>" data-duration="<%= @brainstorm.timer.duration %>" data-seconds-left="<%= @brainstorm.timer.remaining_seconds %>"></p>
        </div>
        <% if @current_facilitator %>
          <div id="restartTimerButton" class="my-shadow w-full hidden lg:flex">
            <%= link_to brainstorm_timer_path(@brainstorm.token), remote: true, method: :patch, class: "hvr-underline-from-left-thin lg:border-2 lg:border-black lg:border-solid text-white lg:text-black uppercase p-6 lg:p-2 w-full justify-center flex text-5xl lg:text-base bg-blurple active:bg-darker-blurple lg:bg-transparent lg:active:bg-blurple-gray my-shadow-lg" do %>
              Restart timer
            <% end %>
          </div>
          <div class="my-shadow w-full flex lg:mb-16 mb-32">
            <%= link_to "Go to voting", done_brainstorming_brainstorm_path(@brainstorm.token), remote: true, method: :post, class: "hvr-underline-from-left-thin lg:border-2 lg:border-black lg:border-solid text-white lg:text-black uppercase p-6 lg:p-2 w-full justify-center flex text-5xl lg:text-base md:mt-8 lg:mt-2 bg-blurple active:bg-darker-blurple lg:bg-transparent lg:active:bg-blurple-gray my-shadow-lg" %>
          </div>
        <% end %>
        <div class="hidden lg:flex lg:flex-col text-white font-bold w-full">
          <div class="bg-blurple flex items-end justify-around pt-16 pb-4">
            <p class="uppercase italic text-lg w-1/2">Your ideas</p>
            <p class="text-6xl leading-none" id="ideasCount"><%= @ideas.count %></p>
          </div>
          <div class="p-4 text-center text-sm bg-blurple opacity-50">
            <p>Keep them coming!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  const hideTimerElements = () => {
    //hide timer section on desktop
    document.getElementById("timeDisplay").classList.remove("lg:flex")
    document.getElementById("timerSectionTitle").classList.remove("lg:flex")
    document.getElementById("timerSection").classList.remove("lg:flex")
    document.getElementById("restartTimerButton").classList.remove("lg:flex")
    
    //hide timer section on phone
    document.getElementById("timerPhoneSection").classList.add("hidden")
  }

  const connectTimer = (elementDesktop, elementPhone) => {
    const { timer } = window
    timer.elementDesktop = elementDesktop
    timer.elementPhone = elementPhone
    timer.duration = elementDesktop.getAttribute("data-duration")
    timer.secondsLeft = elementDesktop.getAttribute("data-seconds-left")
    if ((elementDesktop.getAttribute("data-running") == "true") && (elementPhone.getAttribute("data-running") == "true")) {
      timer.start()
    }
    if (elementDesktop.getAttribute("data-duration") == "0") {
      hideTimerElements()
    }  
  }

  connectTimer(document.getElementById("timeDisplay"), document.getElementById("timerPhoneElement"))

  const toggleBuildOnIdea = (ideaId) => {
    document.getElementById(`buildOnIdea-${ideaId}`).classList.toggle("hidden")
  }

</script>


