<div>
  <div class="flex md:flex-col lg:flex-row md:p-4 lg:p-0 justify-center mx-auto lg:max-w-screen-xl">
    <div class="text-5xl mb-8 my-shadow-lg py-8 w-full bg-white flex lg:hidden items-center justify-between">
      <div class="ml-4 w-24 h-24"></div>
      <p id="timerPhoneElement" data-running="<%= @brainstorm.timer.running? %>" data-duration="<%= @brainstorm.timer.duration %>" data-seconds-left="<%= @brainstorm.timer.remaining_seconds %>"></p>
      <% if @current_facilitator %>
        <%= link_to brainstorm_timer_path(@brainstorm.token), remote: true, method: :patch, class: "h-24 w-24 mr-4" do %>
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="#000000"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><g><path d="M6,13c0-1.65,0.67-3.15,1.76-4.24L6.34,7.34C4.9,8.79,4,10.79,4,13c0,4.08,3.05,7.44,7,7.93v-2.02 C8.17,18.43,6,15.97,6,13z M20,13c0-4.42-3.58-8-8-8c-0.06,0-0.12,0.01-0.18,0.01l1.09-1.09L11.5,2.5L8,6l3.5,3.5l1.41-1.41 l-1.08-1.08C11.89,7.01,11.95,7,12,7c3.31,0,6,2.69,6,6c0,2.97-2.17,5.43-5,5.91v2.02C16.95,20.44,20,17.08,20,13z"/></g></g></svg>
        <% end %>
      <% end %>
      <% if !@current_facilitator %>
        <div class="mr-4 w-24 h-24"></div>
      <% end %>
    </div>
    <div class="flex-col flex w-full lg:ml-16">
      <div class="flex-col flex w-full">
        <h1 class="lg:mr-8 p-3 text-7xl lg:text-5xl text-white font-bold uppercase bg-blurple leading-tight my-shadow-lg"><%=@brainstorm.problem %></h1>
      </div>
      <div class="flex-col flex w-full mb-16">
        <div id="add-idea-form" class="w-full">
          <%= render 'add_idea_form' %>
        </div>
        <div id="add-idea-build-form"></div>
      </div>
      <div class="block w-full lg:flex lg:flex-wrap lg:justify-between lg:px-0 px-16 ml-0 lg:p-0" id="ideas">
        <% @ideas.order('id DESC').each do |idea| %>
        <div class="flex flex-col">
          <div onclick="toggleBuildOnIdea(<%=idea.id %>)" class="my-shadow mr-8 my-8 lg:my-4 bg-white">
            <div id="idea-<%=idea.id %>" class="select-none idea-card lg:h-64 lg:w-64 w-full lg:px-4 px-10 lg:pt-6 lg:pb-1 pt-14 pb-8 flex flex-col items-start italic font-bold bg-post-it-yellowy cursor-default">
              <h2 class="mb-4 lg:m-0 text-blurple text-5xl lg:text-xl">#<%= idea.number %></h2>
              <p class="mb-4 lg:m-0 text-4xl lg:text-base leading-loose lg:leading-normal"><%= idea.text %></p>
            </div>
            <% idea.idea_builds.each do |idea_build| %>
            <div class="lg:w-64 w-full bg-post-it-yellowy-<%= idea_build.opacity_lookup %> italic font-bold lg:px-4 px-10">
              <h2 class="py-4 mb-4 lg:m-0 text-blurple text-5xl lg:text-xl">#<%=idea.number %>.<%= idea_build.decimal %></h2>
              <p class="py-4 text-4xl lg:text-base leading-loose lg:leading-normal "><%= idea_build.idea_build_text %></p>
            </div>
            <% end %>
            <div id="buildOnIdea-<%=idea.id %>" class="hidden text-center bg-post-it-yellowy-60 py-2">
              <%= link_to idea_show_idea_build_form_path(idea), remote: true, method: :post do %>
              <button class="lg:text-lg text-5xl font-medium uppercase bg-black text-white py-8 lg:py-1 lg:px-8 px-40 my-8 lg:my-2">Build on idea</button>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="flex-col <% @current_facilitator ? "" : "hidden" %> lg:flex md:mt-12 lg:mt-0">
      <div class="flex flex-col items-center w-full lg:w-64 lg:bg-white bg-transparent my-shadow-only-desktop mr-16 lg:p-6">
        <h2 class="hidden lg:flex italic font-semibold text-xl text-blurple">Time</h2>
        <div class="hidden lg:flex text-3xl font-bold bg-white text-black border-2 border-dashed border-black rounded-full h-40 w-40 items-center justify-center my-4">
          <p id="timeDisplay" data-running="<%= @brainstorm.timer.running? %>" data-duration="<%= @brainstorm.timer.duration %>" data-seconds-left="<%= @brainstorm.timer.remaining_seconds %>"></p>
        </div>
        <% if @current_facilitator %>
          <div class="my-shadow w-full hidden lg:flex">
            <%= link_to brainstorm_timer_path(@brainstorm.token), remote: true, method: :patch, class: "hvr-underline-from-left-thin lg:border-2 lg:border-black lg:border-solid text-white lg:text-black uppercase p-6 lg:p-2 w-full justify-center flex text-5xl lg:text-base bg-blurple active:bg-darker-blurple lg:bg-transparent lg:active:bg-blurple-gray my-shadow-lg" do %>
              Restart timer
            <% end %>
          </div>
          <div class="my-shadow w-full flex lg:mb-0 mb-16">
            <%= link_to "Go to voting", done_brainstorming_brainstorm_path(@brainstorm.token), remote: true, method: :post, class: "hvr-underline-from-left-thin lg:border-2 lg:border-black lg:border-solid text-white lg:text-black uppercase p-6 lg:p-2 w-full justify-center flex text-5xl lg:text-base md:mt-8 lg:mt-2 bg-blurple active:bg-darker-blurple lg:bg-transparent lg:active:bg-blurple-gray my-shadow-lg" %>
          </div>
        <% end %>
        <div class="hidden lg:flex lg:flex-col text-white font-bold w-full mt-8">
          <div class="bg-blurple flex items-end justify-around mt-8 pt-16 pb-4">
            <p class="uppercase italic text-lg w-1/2">Your ideas</p>
            <p class="text-6xl leading-none" id="ideasCount"><%= @ideas.count %></p>
          </div>
          <div class="p-4 text-center text-sm bg-blurple opacity-50">
            <p>Keep them coming!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const connectTimer = (elementDesktop, elementPhone) => {
    const { timer } = window
    timer.elementDesktop = elementDesktop
    timer.elementPhone = elementPhone
    timer.duration = elementDesktop.getAttribute("data-duration")
    timer.secondsLeft = elementDesktop.getAttribute("data-seconds-left")
    if ((elementDesktop.getAttribute("data-running") == "true") && (elementPhone.getAttribute("data-running") == "true")) timer.start()
  }

  connectTimer(document.getElementById("timeDisplay"), document.getElementById("timerPhoneElement"))

  const toggleBuildOnIdea = (ideaId) => {
    document.getElementById(`buildOnIdea-${ideaId}`).classList.toggle("hidden")
  }

</script>


