<div>
  <div class="flex flex-row md:p-4 lg:p-0 justify-center mx-auto lg:max-w-screen-xl">
    <div class="flex-col flex w-full lg:ml-16">
      <div class="flex-col flex w-full">
        <h1 class="lg:mr-8 p-3 text-7xl lg:text-5xl text-white font-bold uppercase bg-blurple leading-tight my-shadow-lg"><%=@brainstorm.problem %></h1>
      </div>
      <div class="flex-col flex w-full mb-16">
        <div id="add-idea-form" class="w-full">
          <%= render 'add_idea_form' %>
        </div>
        <div id="add-idea-build-form"></div>
      </div>
      <div class="block w-full lg:flex lg:flex-wrap lg:justify-between lg:px-0 px-16 ml-0 lg:p-0" id="ideas">
        <% @ideas.order('id DESC').each do |idea| %>
        <div class="flex flex-col">
          <div onclick="toggleBuildOnIdea(<%=idea.id %>)" class="my-shadow mr-8 my-8 lg:my-4 bg-white">
            <div id="idea-<%=idea.id %>" class="select-none idea-card lg:h-64 lg:w-64 w-full lg:px-4 px-10 lg:pt-6 lg:pb-1 pt-14 pb-8 flex flex-col items-start italic font-bold bg-post-it-yellowy cursor-default">
              <h2 class="mb-4 lg:m-0 text-blurple text-5xl lg:text-xl">#<%= idea.number %></h2>
              <p class="mb-4 lg:m-0 text-4xl lg:text-base leading-loose lg:leading-normal"><%= idea.text %></p>
            </div>
            <% idea.idea_builds.each do |idea_build| %>
            <div class="lg:w-64 w-full bg-post-it-yellowy-<%= idea_build.opacity_lookup %> italic font-bold lg:px-4 px-10">
              <h2 class="py-4 mb-4 lg:m-0 text-blurple text-5xl lg:text-xl">#<%=idea.number %>.<%= idea_build.decimal %></h2>
              <p class="py-4 text-4xl lg:text-base leading-loose lg:leading-normal "><%= idea_build.idea_build_text %></p>
            </div>
            <% end %>
            <div id="buildOnIdea-<%=idea.id %>" class="hidden text-center bg-post-it-yellowy-60 py-2">
              <%= link_to idea_show_idea_build_form_path(idea), remote: true, method: :post do %>
              <button class="text-lg font-medium uppercase bg-black text-white py-1 px-8">Build on idea</button>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="flex-col hidden lg:flex">
      <div class="flex flex-col items-center w-64 bg-white my-shadow mr-16 p-6">
        <h2 class="italic font-semibold text-xl text-blurple">Time</h2>
        <div class="text-3xl font-bold bg-white text-black border-2 border-dashed border-black rounded-full h-40 w-40 flex items-center justify-center my-4">
          <p id="timeDisplay"></p>
        </div>
        <% if @is_user_facilitator %>
          <%= link_to "Start timer", start_timer_brainstorm_path(@brainstorm.token), remote: true, method: :post, id: "startTimer", class: "hvr-underline-from-left-thin border-2 border-black border-solid text-black uppercase bg-white p-2 w-full justify-center flex" %>
          <%= link_to "Done brainstorming", done_brainstorming_brainstorm_path(@brainstorm.token), remote: true, method: :post, class: "hvr-underline-from-left-thin border-2 border-black text-black uppercase bg-white p-2 mt-2 w-full justify-center flex" %>
        <% end %>
        <div class="text-white font-bold w-full mt-8">
          <div class="bg-blurple flex items-end justify-around mt-8 pt-16 pb-4">
            <p class="uppercase italic text-lg w-1/2">Your ideas</p>
            <p class="text-6xl leading-none" id="ideasCount"><%= @ideas.count %></p>
          </div>
          <div class="p-4 text-center text-sm bg-blurple opacity-50">
            <p>Keep them coming!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const toggleBuildOnIdea = (ideaId) => {
    if (document.getElementById(`buildOnIdea-${ideaId}`).classList.contains("hidden")) {
      document.getElementById(`buildOnIdea-${ideaId}`).classList.remove("hidden")
    } else {
      document.getElementById(`buildOnIdea-${ideaId}`).classList.add("hidden")
    }
  }
</script>