<div class="md:p-4 lg:p-0 flex-col flex w-full mx-auto lg:max-w-screen-lg">
  <div id="problem_area" class="flex flex-col">
    <%= render 'problem' %>
  </div>
  <div class="bg-white mt-8 my-shadow-lg flex flex-col p-8">
    <p class="md:mt-8 lg:mt-0 italic text-blurple text-6xl lg:text-2xl font-semibold">What to do now?</p>
    <div class="flex lg:flex-row flex-col justify-between px-12 mt-8">
      <div class="lg:block md:flex md:justify-around md:mt-16 lg:mt-0 md:items-center">
        <div class="lg:h-28 lg:w-28 md:h-56 md:w-56 bg-blurple flex justify-center items-center">
          <span class="material-icons text-white lg:text-6xl text-10xl md:h-36 md:w-36 md:-ml-36 lg:h-16 lg:w-16 lg:-ml-16">headset_mic</span>
          <div class="md:h-20 md:w-20 lg:h-12 lg:w-12 bg-black text-white font-bold lg:text-2xl md:text-4xl border-4 border-white relative lg:-ml-28 lg:-mt-28 md:-ml-56 md:-mt-48">
            <div class="flex justify-center items-center h-full">1</div>
          </div>
        </div>
        <div class="lg:hidden text-blurple italic font-semibold text-5xl text-center w-3/4">
          <p>Call up everyone</p>
        </div>
        <div class="hidden mt-4 lg:block text-blurple italic text-xl font-semibold text-center">
          <p>Call up</p>
          <p>everyone</p>
        </div>
      </div>
      <div class="lg:block md:flex md:justify-around md:mt-28 lg:mt-0 md:items-center">
        <div class="lg:h-28 lg:w-28 md:h-56 md:w-56 bg-blurple flex justify-center items-center">
          <span class="material-icons text-white lg:text-6xl text-10xl md:h-36 md:w-36 md:-ml-36 lg:h-16 lg:w-16 lg:-ml-16">share</span>
          <div class="md:h-20 md:w-20 lg:h-12 lg:w-12 bg-black text-white font-bold lg:text-2xl md:text-4xl border-4 border-white relative lg:-ml-28 lg:-mt-28 md:-ml-56 md:-mt-48">
            <div class="flex justify-center items-center h-full">2</div>
          </div>
        </div>
        <div class="lg:hidden text-blurple italic font-semibold text-5xl text-center w-3/4">
          <p>Share link</p>
        </div>
        <div class="hidden mt-4 lg:block text-blurple italic text-xl font-semibold text-center">
          <p>Share</p>
          <p>link</p>
        </div>
      </div>
      <div class="lg:block md:flex md:justify-around md:mt-28 lg:mt-0 md:mb-16 lg:md-0 md:items-center">
        <div class="lg:h-28 lg:w-28 md:h-56 md:w-56 bg-blurple flex justify-center items-center">
          <span class="material-icons text-white lg:text-6xl text-10xl md:h-36 md:w-36 md:-ml-36 lg:h-16 lg:w-16 lg:-ml-16">chat_bubble</span>
          <div class="md:h-20 md:w-20 lg:h-12 lg:w-12 bg-black text-white font-bold lg:text-2xl md:text-4xl border-4 border-white relative lg:-ml-28 lg:-mt-28 md:-ml-56 md:-mt-48">
            <div class="flex justify-center items-center h-full">3</div>
          </div>
        </div>
        <div class="lg:hidden text-blurple italic font-semibold text-5xl text-center w-3/4">
          <p>Introduce exercise</p>
        </div>
        <div class="hidden mt-4 lg:block text-blurple italic text-xl font-semibold text-center">
          <p>Introduce</p>
          <p>exercise</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex lg:flex-row md:flex-col mt-8 w-full ">
    <div class="bg-white lg:py-4 md:py-8 px-8 my-shadow-lg w-full mr-2">
      <div class="tooltip w-full">
        <div onclick="copyAction(getURL())" onmouseout="outFunc()" class="transition duration-200 ease-in-out transform hover:bg-dark-blurple active:bg-darker-blurple md:py-4 lg:py-0 bg-blurple tooltip cursor-pointer w-full">
          <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
            <div class="flex justify-center items-center">
             <span class="material-icons text-white lg:text-3xl text-6xl mr-8 lg:mr-4">link</span>
             <p class=" text-white uppercase md:text-6xl lg:text-xl font-medium py-2 text-center">Share link</p>
            </div>
        </div>
      </div>
    </div>
    <div class="bg-white lg:py-4 md:py-8 px-8 my-shadow-lg w-full lg:ml-2">
      <button class="md:py-4 lg:py-0 transition duration-200 ease-in-out transform bg-greeny w-full hover:bg-dark-greeny active:bg-darker-greeny">
        <%= link_to start_brainstorm_brainstorm_path(@brainstorm.token), remote: true, method: :post do %>
        <div class="flex flex-row items-center justify-center">
          <span class="material-icons-outlined text-white lg:text-3xl text-6xl mr-8 lg:mr-4">timer</span>
          <p class="text-white uppercase md:text-6xl lg:text-xl font-medium py-2 text-center">Start Brainstorm</p>
        </div>
        <% end %>
      </button>
    </div>
  </div>

  <div id="list-of-participants-container" class="bg-white mt-8 my-shadow-lg flex flex-col p-8">
    <p class="italic text-blurple lg:text-2xl text-6xl font-semibold mb-8">Who's here</p>
    <div id="list-of-participants" class="gap-4 text-white md:text-5xl lg:text-2xl flex flex-row flex-wrap">
    </div>
  </div>

  <div class="bg-white mt-8 my-shadow-lg flex flex-col p-8 lg:justify-between lg:gap-2">
    <div class="flex flex-row items-center">
      <p class="w-full mt-8 lg:mt-0 italic text-blurple text-6xl lg:text-2xl font-semibold lg:mb-0 mb-8">Duration of brainstorm</p>
    </div>
    <% if @access_to_brainstorms_duration %>
      <%= form_with url: brainstorm_timer_duration_path(@brainstorm.token), method: :patch, class: "flex flex-row w-full" do |form| %>
        <%= form.range_field :duration, id: "timerRange", class: "w-full appearance-none slider-thumb", value: 10, min: 5, max: 30, step: 5, onchange: "this.form.submit()" %>
        <div id="timerOutput" class="justify-end w-1/3 flex text-6xl">
          <output class="h-24 flex items-center text-right" id="durationOutput" name="durationOutput">10:00</output>
        </div>
      <% end %>
    <% else %>
    <div class="flex flex-row items-center gap-8">
      <%= link_to pricing_path do %>
        <div class="bg-light-blurple p-8 flex flex-row items-center gap-8">
          <span class="material-icons lg:text-4xl text-6xl">lock</span>
          <p class="lg:text-lg text-3xl">You need to upgrade to <span class="underline font-bold">the facilitator plan</span> to set the timer. With the facilitator plan you can also brainstorm with unlimited time.</p>
        </div>
      <% end %>
      <div class="justify-end w-1/3 flex text-6xl">
        <p class="h-24 flex items-center text-right">10:00</p>
      </div>
    </div>
    <% end %>
  </div>

  <div class="bg-white mt-8 my-shadow-lg flex flex-row p-8 lg:justify-between lg:gap-2">
    <div>
      <div class="flex flex-row items-center">
        <p class="w-full my-8 lg:mt-0 italic text-blurple text-6xl lg:text-2xl font-semibold">Settings</p>
      </div>
      <%= form_with url: brainstorm_settings_path(@brainstorm.token), method: :patch do |form| %>
        <div class="flex flex-row items-center lg:gap-4 gap-12 lg:text-base text-3xl">
          <%= form.check_box :anonymous, as: :boolean, checked: @brainstorm.anonymous, onchange: "handleCheckboxChange(this)", class: "w-20 h-20 lg:h-6 lg:w-6 cursor-pointer" %>
          <p class="lg:text-lg text-4xl">Keep ideas anonymous</p>
        </div>
      <% end %>
    </div>
    <div class="bg-yellowy w-40 h-40 px-4 justify-between lg:flex lg:flex-col hidden"> 
      <div class="flex flex-col justify-center h-full">
        <p class="font-flow overflow-hidden text-lg text-dark-yellowy leading-none">Lorem ipsum dolor sit amet, consectetur </p>
      </div>
      <p id="checkboxVisualization" class="text-white line-through">Mona Lisa</p>
      <div class="bg-yellowy triangle self-end -mr-4"></div>
    </div>
  </div>

  <div class="flex flex-col bg-light-yellowy justify-between mb-56 mt-12 my-shadow-lg">
    <div class="bg-dots-bigger h-10"></div>
    <div class="px-20 pb-20">
      <p class="lg:text-3xl md:text-6xl italic font-medium py-16">Introduce exercise</p>
      <span class="material-icons lg:text-3xl text-5xl">quiz</span>
      <p class="lg:text-2xl md:text-5xl font-medium py-2">Why we do ideation?</p>
      <p class="lg:text-lg md:text-3xl pt-2 pb-16">We ideate to find the best way to solve a problem. When you produce more ideas, your chance of having some really good ideas are bigger. Just be careful to not come up with a bunch of variations on the same idea.</p>
      <span class="material-icons-outlined lg:text-3xl text-5xl">timer</span>
      <p class="lg:text-2xl md:text-5xl font-medium py-2">While we do ideation</p>
      <p class="lg:text-lg md:text-3xl pt-2 pb-16">Be positive, encourage wild ideas, build on each others' ideas and don't say no. Even if you come up with something that is impossible, it might be that piece of inspiration that sparks creativity for one of your team mates.</p>
      <span class="material-icons lg:text-3xl text-5xl">assignment_turned_in</span>
      <p class="lg:text-2xl md:text-5xl font-medium py-2">When we are done with ideation</p>
      <p class="lg:text-lg md:text-3xl py-2">Take the best voted ideas and get practical! Define some action points and talk about who does what to make your ideas become reality!</p>
    </div>
  </div>
</div>
</div>

<script>

handleCheckboxChange = (checkbox) => {
  document.getElementById("checkboxVisualization").classList.toggle("line-through")

  checkbox.form.submit();
}

let timerRange = document.getElementById("timerRange")
let timerOutput = document.getElementById("timerOutput")

timerRange.oninput = function() {
 
  if (this.value > 25) {
    durationOutput.value = "No limit!"
    timerOutput.classList.toggle("text-4xl")
    timerOutput.classList.toggle("text-6xl")
  }
  else {
    if (timerOutput.classList.contains("text-4xl")) {
      timerOutput.classList.toggle("text-4xl")
      timerOutput.classList.toggle("text-6xl")
    }
    durationOutput.value = this.value + ":00"
  }
}
</script>
