       <div class="flex-col flex w-full md:p-4 lg:p-0 mx-auto lg:max-w-screen-lg">
         <h1 class="p-3 text-7xl lg:text-5xl text-white font-bold uppercase bg-blurple leading-tight my-shadow-lg w-full"><%=@brainstorm.problem %></h1>
         <div class="sticky top-0 flex lg:flex-row flex-col w-full my-4 lg:space-x-8">
           <div class="justify-between p-4 mt-8 lg:flex-1 flex lg:flex-row flex-col bg-greeny my-shadow-lg w-full">
             <h1 id="votingHeadline" class="md:text-4xl lg:text-2xl text-white font-semibold uppercase leading-tight ">Vote on your favourite ideas</h1>
             <div class="flex space-x-2 md:mt-4 lg:mt-0 justify-start">
               <% @voting.each_available_vote do |vote| %>
               <svg class="flex lg:h-8 lg:w-8 h-20 w-20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 36 36" version="1.1">
                 <title>0E4C7326-8988-4892-82B6-3FD8F36A9D07</title>
                 <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                   <g transform="translate(-701.000000, -551.000000)">
                     <g transform="translate(653.000000, 551.000000)">
                       <g transform="translate(48.000000, 0.000000)">
                         <polygon id="Path" points="0 0 36 0 36 36 0 36" />
                         <polygon id="Path" points="0 0 36 0 36 36 0 36" />
                         <polygon class="starVoteFill" id="Path" <%= "fill=#FFFFFF" if vote.used? %> stroke="#FFFFFF" stroke-width="3" stroke-linejoin="bevel" fill-rule="nonzero" points="18.12 25.8332211 27.39 31.44 24.93 20.8728 33.12 13.7628632 22.335 12.8459368 18.12 2.88 13.905 12.8459368 3.12 13.7628632 11.31 20.8728 8.85 31.44" />
                       </g>
                     </g>
                   </g>
                 </g>
               </svg>
               <% end %>
             </div>
           </div>

           <div class="hover:scale-105 ease-in-out duration-200 transform lg:mt-8 md:mt-16 lg:p-3 md:p-6 text-lg lg:text-2xl md:text-5xl text-white font-semibold uppercase bg-greeny leading-tight my-shadow-lg lg:w-56 md:w-full">
             <%= link_to done_voting_brainstorm_path, remote: true, method: :post do %>
                <button id="done-button" class="bg-white text-greeny w-full font-semibold h-full py-6 lg:py-0 focus:outline-none active:bg-greeny-gray">DONE</button>
             <% end %>
           </div>
         </div>

        <% if @current_facilitator %>
          <p class="flex justify-center lg:justify-end text-2xl mt-8 lg:mt-0 lg:text-base" id="number-of-users-done-voting-element"><%= @users_done_voting %>/<%= @total_users_online%> participants are done voting</p>
          <%= link_to end_voting_brainstorm_path(@brainstorm.token), remote: true, method: :post, class: "lg:inline-flex lg:justify-end md:flex md:justify-center" do %>
          <p class="hover:bg-yellowy active:bg-dark-yellowy underline text-blurple lg:text-xl text-4xl lg:my-0 my-12">Finish voting for everyone</p>
          <% end %>
        <% end %>

         <div class="block w-full lg:flex lg:flex-wrap lg:justify-between lg:px-0 px-16 ml-0 lg:p-0" id="ideasVote">
           <% @ideas.order('id DESC').each do |idea| %>
           <div class="flex flex-col lg:mr-4">
             <div class="my-shadow my-8 lg:my-4 bg-white">
               <%= link_to idea_vote_path(idea), remote: true, method: :post do %>
               <div class="idea-card lg:h-64 lg:w-64 w-full lg:px-4 px-10 lg:pt-6 lg:pb-1 pt-14 pb-8 flex flex-col items-start italic font-bold bg-post-it-yellowy cursor-default">
                 <div class="flex flex-row justify-between w-full">
                   <h2 class="mb-4 lg:m-0 text-blurple text-5xl lg:text-xl">#<%= idea.number %></h2>
                   <svg class="lg:h-8 lg:w-8 h-20 w-20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 36 36" version="1.1">
                     <title>0E4C7326-8988-4892-82B6-3FD8F36A9D07</title>
                     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                       <g transform="translate(-701.000000, -551.000000)">
                         <g transform="translate(653.000000, 551.000000)">
                           <g transform="translate(48.000000, 0.000000)">
                             <polygon id="Path" points="0 0 36 0 36 36 0 36" />
                             <polygon id="Path" points="0 0 36 0 36 36 0 36" />
                             <polygon class="star-idea-<%=idea.id %>" id="star-idea-<%=idea.id %>" id="Path" stroke="#312783" stroke-width="3" stroke-linejoin="bevel" fill-rule="nonzero" points="18.12 25.8332211 27.39 31.44 24.93 20.8728 33.12 13.7628632 22.335 12.8459368 18.12 2.88 13.905 12.8459368 3.12 13.7628632 11.31 20.8728 8.85 31.44" />
                           </g>
                         </g>
                       </g>
                     </g>
                   </svg>
                 </div>
                 <p class="mb-4 lg:m-0 text-4xl lg:text-base leading-loose lg:leading-normal"><%= idea.text %></p>
               </div>
               <% end %>
               <% idea.idea_builds.order(:id).each do |idea_build| %>
               <%= link_to idea_idea_build_vote_path(idea, idea_build), remote: true, method: :post do %>
               <div class="lg:w-64 w-full bg-post-it-yellowy-<%= idea_build.opacity_lookup %> italic font-bold lg:px-4 px-10 cursor-default">

                 <div class="flex flex-row justify-between w-full items-center">
                   <h2 class="py-4 mb-4 lg:m-0 text-blurple text-5xl lg:text-xl">#<%=idea.number %>.<%= idea_build.decimal %></h2>
                   <svg class="lg:h-8 lg:w-8 h-20 w-20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 36 36" version="1.1">
                     <title>0E4C7326-8988-4892-82B6-3FD8F36A9D07</title>
                     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                       <g transform="translate(-701.000000, -551.000000)">
                         <g id="Group-16" transform="translate(653.000000, 551.000000)">
                           <g transform="translate(48.000000, 0.000000)">
                             <polygon id="Path" points="0 0 36 0 36 36 0 36" />
                             <polygon id="Path" points="0 0 36 0 36 36 0 36" />
                             <polygon class="star-idea-build-<%=idea_build.id %>" id="star-idea-build-<%=idea_build.id %>" id="Path" stroke="#312783" stroke-width="3" stroke-linejoin="bevel" fill-rule="nonzero" points="18.12 25.8332211 27.39 31.44 24.93 20.8728 33.12 13.7628632 22.335 12.8459368 18.12 2.88 13.905 12.8459368 3.12 13.7628632 11.31 20.8728 8.85 31.44" />
                           </g>
                         </g>
                       </g>
                     </g>
                   </svg>
                 </div>
                 <p class="py-4 text-4xl lg:text-base leading-loose lg:leading-normal "><%= idea_build.idea_build_text %></p>
               </div>
               <% end %>
               <% end %>
             </div>

           </div>
           <% end %>
         </div>
       </div>
