<div class="flex-col flex w-full md:p-4 lg:p-0 mx-auto lg:max-w-screen-lg">
  <h1 class="p-4 text-4xl lg:text-2xl text-white font-semibold uppercase bg-blurple leading-tight my-shadow-lg inline-flex">* VOTING DONE *</h1>
  <h1 class="problem mt-4 p-8 text-6xl lg:text-4xl text-white font-semibold uppercase bg-black leading-tight my-shadow-lg w-full"><%=@brainstorm.problem %></h1>
  <div class="lg:mb-4 mb-16 lg:mt-4 mt-8 flex lg:flex-row flex-col justify-between">

  <% if Current.facilitator %>
    <% if @access_to_export_features %>
      <%= link_to your_brainstorms_path do %>
        <button class="hvr-grow bg-pinky active:bg-darker-pinky text-blurple lg:block lg:p-2 md:p-4 font-semibold uppercase leading-tight my-shadow-lg lg:w-64 w-full">
          <div class="border-blurple border-solid border-2 flex items-center lg:justify-between md:justify-center px-4 lg:py-0 md:py-4">
            <div class="flex font-semibold h-full text-base focus:outline-none py-2 md:text-4xl lg:text-lg">YOUR BRAINSTORMS</div>
            <div class="flex">
            <i class="material-icons lg:text-2xl text-5xl md:ml-4 lg:ml-0">save</i>
            </div>
          </div>
        </button>
      <% end %>
    <% else %>
      <%= link_to pricing_path do %>
        <button class="lg:block hvr-grow lg:p-2 md:p-4 font-semibold uppercase text-blurple bg-pinky active:bg-darker-pinky leading-tight my-shadow-lg lg:w-64 w-full">
          <div class="border-solid border-blurple border-2 flex items-center lg:justify-between md:justify-center px-4 lg:py-0 md:py-4">
              <div class="flex font-semibold h-full text-base focus:outline-none py-2 md:text-4xl lg:text-lg">UPGRADE</div>
            <div class="flex">
              <i class="material-icons lg:text-2xl text-5xl md:ml-4 lg:ml-0">emoji_events</i>
            </div>
          </div>
        </button>
      <% end %>
    <% end %>
  <% else %>
    <% if @session.user? %>
      <%= link_to root_url do %>
        <button class="lg:block hvr-grow lg:p-2 md:p-4 font-semibold uppercase text-blurple bg-pinky active:bg-darker-pinky leading-tight my-shadow-lg lg:w-64 w-full">
          <div class="border-solid border-blurple border-2 flex items-center lg:justify-between md:justify-center px-4 lg:py-0 md:py-4">
              <div class="flex font-semibold h-full text-base focus:outline-none py-2 md:text-4xl lg:text-lg">NEW BRAINSTORM</div>
            <div class="flex">
              <i class="material-icons lg:text-2xl text-5xl md:ml-4 lg:ml-0">flash_on</i>
            </div>
          </div>
        </button>
      <% end %>
    <% else %>
      <%= link_to select_sign_up_method_path do %>
        <button class="lg:block hvr-grow lg:p-2 md:p-4 font-semibold uppercase bg-pinky active:bg-darker-pinky leading-tight my-shadow-lg lg:w-64 w-full">
          <div class="border-solid border-blurple border-2 flex items-center lg:justify-between md:justify-center px-4 lg:py-0 md:py-4">
              <div class="flex text-blurple font-semibold h-full text-base focus:outline-none py-2 md:text-4xl lg:text-lg">CREATE ACCOUNT</div>
            <div class="flex">
              <span class="material-icons ml-4 lg:ml-0 text-blurple lg:text-2xl text-5xl">person</span>
            </div>
          </div>
        </button>
      <% end %>
    <% end %>



  <% end %>
    <div class="flex lg:space-x-2">
      <%= link_to download_brainstorm_pdf_path(token: @brainstorm.token, visitor_id: @visitor_id), method: :post, id: "save-to-pdf-button", class: "#{"tooltip" if !@access_to_export_features}" do %>
        <button onmouseout="outFunc()" class="<%= @access_to_export_features ? "bg-blurple active:bg-darker-blurple hvr-grow text-white" : "cursor-default bg-gray-200 text-gray-400" %> hidden lg:block lg:p-2 md:p-4 font-semibold uppercase leading-tight my-shadow-lg lg:w-56">
        <% if !@access_to_export_features %>
          <span class="tooltiptext flex flex-col align-middle mb-2"><i class="material-icons">lock</i><%= Current.facilitator ? "You need" : "Your facilitator needs" %> to upgrade to export.</span>
        <% end %>
          <div class="<%= @access_to_export_features ? "border-white" : "border-gray-400" %> border-solid font-semibold h-full text-base focus:outline-none md:text-4xl lg:text-lg border-2 flex items-center lg:justify-between md:justify-center px-4 lg:py-0 md:py-4">
              <div class="flex py-2">SAVE TO PDF</div>
            <div class="flex">
              <span id="save-to-pdf-button-icon"  class="material-icons lg:h-6 lg:w-6 md:h-12 md:w-12 md:ml-4 lg:ml-0">picture_as_pdf</span>
              <div id="save-to-pdf-button-spinner" style="border-top-color:transparent" class="hidden h-5 w-5 rounded-full border-2 border-white animate-spin"></div>
            </div>
          </div>
        </button>
      <% end %>
      <%= link_to download_brainstorm_csv_path(token: @brainstorm.token, visitor_id: @visitor_id), method: :post, id: "save-to-csv-button", class: "#{"tooltip" if !@access_to_export_features}" do %>
        <button onmouseout="outFunc()" class="<%= @access_to_export_features ? "bg-blurple active:bg-darker-blurple hvr-grow text-white" : "cursor-default bg-gray-200 text-gray-400" %> hidden lg:block lg:p-2 md:p-4 font-semibold uppercase leading-tight my-shadow-lg lg:w-56">
        <% if !@access_to_export_features %>
          <span class="tooltiptext flex flex-col align-middle mb-2"><i class="material-icons">lock</i><%= Current.facilitator ? "You need" : "Your facilitator needs" %> to upgrade to export.</span>
        <% end %>
          <div class="<%= @access_to_export_features ? "border-white" : "border-gray-400" %> border-solid font-semibold h-full text-base focus:outline-none md:text-4xl lg:text-lg border-2 flex items-center lg:justify-between md:justify-center px-4 lg:py-0 md:py-4">
              <div class="flex py-2">SAVE TO CSV</div>
            <div class="flex">
              <span id="save-to-csv-button-icon"  class="material-icons lg:h-6 lg:w-6 md:h-12 md:w-12 md:ml-4 lg:ml-0">file_download</span>
              <div id="save-to-csv-button-spinner" style="border-top-color:transparent" class="hidden h-5 w-5 rounded-full border-2 border-white animate-spin"></div>
            </div>
          </div>
        </button>
      <% end %>
      <button onclick="openSendEmailModal()" class="hvr-grow lg:p-2 md:p-4 text-lg lg:text-2xl text-white font-semibold uppercase bg-blurple active:bg-darker-blurple focus:outline-none leading-tight my-shadow-lg lg:w-56 w-full lg:mt-0 md:mt-8">
        <div class="border-solid border-white border-2 flex items-center lg:justify-between md:justify-center px-4 lg:py-0 md:py-4">
          <div class="flex text-white font-semibold h-full text-base focus:outline-none py-2 md:text-4xl lg:text-lg">EMAIL</div>
          <div class="flex">
            <span class="material-icons-sharp lg:text-2xl text-5xl ml-4 lg:ml-0 text-white">email</span>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="block w-full lg:flex lg:flex-wrap lg:justify-between lg:px-0 px-16 ml-0 lg:p-0" id="ideasVotingDone">
    <% @ideas.order('votes DESC').each do |idea| %>
    <div class="flex flex-col xl:mr-4">
      <div class="my-shadow my-8 lg:my-4 bg-white group">
        <div class="idea-card lg:h-64 lg:w-64 w-full lg:px-4 px-10 lg:pt-6 lg:pb-1 pt-14 pb-8 flex flex-col items-start italic bg-post-it-yellowy cursor-default">
          <div class="flex flex-row justify-between w-full font-bold">
            <h2 class="mb-4 lg:m-0 text-blurple text-5xl lg:text-xl">#<%= idea.number %></h2>
            <h2 class="mb-4 lg:m-0 text-blurple text-5xl lg:text-xl"><%= pluralize(idea.votes, "vote") %></h2>
          </div>
          <h2 class="mb-4 lg:m-0 text-blurple text-5xl lg:text-xl"></h2>
          <div class="flex flex-col justify-between h-full">
            <p class="font-bold mb-4 lg:m-0 text-4xl lg:text-base leading-loose lg:leading-normal break-words w-full"><%= idea.text %></p>
            <p class="font-extralight lg:m-0 text-2xl lg:text-sm leading-loose lg:leading-normal break-words w-full"><%= idea.author if !@brainstorm.anonymous? %></p>
          </div>
        </div>
        <% idea.idea_builds.order(:id).each do |idea_build| %>
        <div class="lg:w-64 w-full bg-post-it-yellowy-<%= idea_build.opacity_lookup %> italic lg:px-4 px-10 lg:pt-6 lg:pb-1 pt-14 pb-8">
          <div class="flex flex-row justify-between w-full items-center font-bold">
            <h2 class="lg:m-0 text-blurple text-5xl lg:text-xl">#<%= idea.number %>.<%= idea_build.decimal %></h2>
          </div>
          <div class="flex flex-col justify-between h-full">
            <p class="font-bold pb-4 text-4xl lg:text-base leading-loose lg:leading-normal break-words w-full "><%= idea_build.idea_build_text %></p>
            <p class="font-extralight lg:m-0 text-2xl lg:text-sm leading-loose lg:leading-normal break-words w-full"><%= idea_build.author if !@brainstorm.anonymous? %></p>
          </div>
        </div>
        <% end %>
        <% if @current_facilitator %>
          <div class="hidden group-hover:flex">
            <%= render 'idea_menu', idea: idea, brainstorm: @brainstorm %>
          </div>
        <% end %>
      </div>

    </div>
    <% end %>
  </div>
</div>
