<div class="flex-col flex w-full md:p-4 lg:p-0 mx-auto lg:max-w-screen-lg">
  <h1 class="p-4 text-4xl lg:text-2xl text-white font-semibold uppercase bg-blurple leading-tight my-shadow-lg inline-flex">* VOTING DONE *</h1>
  <h1 class="mt-4 p-8 text-6xl lg:text-4xl text-white font-semibold uppercase bg-black leading-tight my-shadow-lg w-full"><%=@brainstorm.problem %></h1>
  <div class="lg:mb-4 mb-16 lg:mt-4 mt-8 flex lg:flex-row flex-col justify-end lg:space-x-2">
    <button class="hidden lg:block hover:scale-105 ease-in-out duration-200 transform lg:p-2 md:p-4 text-white font-semibold uppercase bg-blurple active:bg-darker-blurple leading-tight my-shadow-lg lg:w-56">
      <div class="border-solid border-white border-2 flex items-center lg:justify-between md:justify-center px-4 lg:py-0 md:py-4">
        <%= link_to download_pdf_path(format: :pdf), target: :_blank do %> 
        <div class="flex text-white font-semibold h-full text-base focus:outline-none py-2 md:text-4xl lg:text-lg">SAVE TO PDF</div>
        <% end %>
        <div class="flex">
          <svg class="lg:h-6 lg:w-6 md:h-12 md:w-12 md:ml-4 lg:ml-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-8.5 7.5c0 .83-.67 1.5-1.5 1.5H9v2H7.5V7H10c.83 0 1.5.67 1.5 1.5v1zm5 2c0 .83-.67 1.5-1.5 1.5h-2.5V7H15c.83 0 1.5.67 1.5 1.5v3zm4-3H19v1h1.5V11H19v2h-1.5V7h3v1.5zM9 9.5h1v-1H9v1zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm10 5.5h1v-3h-1v3z" />
          </svg>
        </div>
      </div>
    </button>
    <button onclick="openSendEmailModal()" class="hover:scale-105 ease-in-out duration-200 transform lg:p-2 md:p-4 text-lg lg:text-2xl text-white font-semibold uppercase bg-blurple active:bg-darker-blurple focus:outline-none leading-tight my-shadow-lg lg:w-56 lg:mt-0 md:mt-8">
      <div class="border-solid border-white border-2 flex items-center lg:justify-between md:justify-center px-4 lg:py-0 md:py-4">
        <div class="flex text-white font-semibold h-full text-base focus:outline-none py-2 md:text-4xl lg:text-lg">EMAIL</div>
        <div class="flex">
          <svg class="lg:h-6 lg:w-6 md:h-12 md:w-12 md:ml-4 lg:ml-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
          </svg>
        </div>
      </div>
    </button>
  </div>
  <div class="block w-full lg:flex lg:flex-wrap lg:justify-between lg:px-0 px-16 ml-0 lg:p-0" id="ideasVotingDone">
    <% @ideas.order('votes DESC').each do |idea| %>
    <div class="flex flex-col xl:mr-4">
      <div class="my-shadow my-8 lg:my-4 bg-white">
        <div class="idea-card lg:h-64 lg:w-64 w-full lg:px-4 px-10 lg:pt-6 lg:pb-1 pt-14 pb-8 flex flex-col items-start italic font-bold bg-post-it-yellowy cursor-default">
          <div class="flex flex-row justify-between w-full">
            <h2 class="mb-4 lg:m-0 text-blurple text-5xl lg:text-xl"><%= pluralize(idea.votes, "vote") %></h2>
            <svg class="lg:h-8 lg:w-8 h-20 w-20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 36 36" version="1.1">
              <title>0E4C7326-8988-4892-82B6-3FD8F36A9D07</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-701.000000, -551.000000)">
                  <g transform="translate(653.000000, 551.000000)">
                    <g transform="translate(48.000000, 0.000000)">
                      <polygon id="Path" points="0 0 36 0 36 36 0 36" />
                      <polygon id="Path" points="0 0 36 0 36 36 0 36" />
                      <polygon class="star-idea-<%=idea.id %>" id="star-idea-<%=idea.id %>" id="Path" stroke="#312783" stroke-width="3" stroke-linejoin="bevel" fill-rule="nonzero" points="18.12 25.8332211 27.39 31.44 24.93 20.8728 33.12 13.7628632 22.335 12.8459368 18.12 2.88 13.905 12.8459368 3.12 13.7628632 11.31 20.8728 8.85 31.44" />
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <p class="mb-4 lg:m-0 text-4xl lg:text-base leading-loose lg:leading-normal"><%= idea.text %></p>
        </div>
        <% idea.idea_builds.each do |idea_build| %>
        <div class="lg:w-64 w-full bg-post-it-yellowy-<%= idea_build.opacity_lookup %> italic font-bold lg:px-4 px-10">
          <div class="flex flex-row justify-between w-full items-center">
            <h2 class="py-4 mb-4 lg:m-0 text-blurple text-5xl lg:text-xl"><%= pluralize(idea_build.votes, "vote") %></h2>
            <svg class="lg:h-8 lg:w-8 h-20 w-20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 36 36" version="1.1">
              <title>0E4C7326-8988-4892-82B6-3FD8F36A9D07</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-701.000000, -551.000000)">
                  <g id="Group-16" transform="translate(653.000000, 551.000000)">
                    <g transform="translate(48.000000, 0.000000)">
                      <polygon id="Path" points="0 0 36 0 36 36 0 36" />
                      <polygon id="Path" points="0 0 36 0 36 36 0 36" />
                      <polygon class="star-idea-build-<%=idea_build.id %>" id="star-idea-build-<%=idea_build.id %>" id="Path" stroke="#312783" stroke-width="3" stroke-linejoin="bevel" fill-rule="nonzero" points="18.12 25.8332211 27.39 31.44 24.93 20.8728 33.12 13.7628632 22.335 12.8459368 18.12 2.88 13.905 12.8459368 3.12 13.7628632 11.31 20.8728 8.85 31.44" />
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <p class="py-4 text-4xl lg:text-base leading-loose lg:leading-normal "><%= idea_build.idea_build_text %></p>
        </div>
        <% end %>
      </div>

    </div>
    <% end %>
  </div>
</div>