<div class="mx-auto px-4 xl:px-0 lg:max-w-screen-lg xl:max-w-screen-xl">
  <%= render 'shared/menu' %>
  <div class="flex flex-col">
    <div class="bg-blurple flex flex-col">
      <div class="bg-dots-smaller mt-12 h-24 mx-6"></div>
      <div class="bg-white w-full flex flex-col my-shadow px-14 pb-24 lg:pb-0">
        <%= link_to root_path do %>
          <div class="lg:-mt-10 -mt-16 italic bg-black w-32 h-32 lg:w-20 lg:h-20 text-white text-7xl lg:text-5xl flex font-bold items-center justify-center">
            <span>B</span>
          </div>
        <% end %>

        <div class="flex justify-between items-center lg:mt-12 mt-24">
          <p class="lg:text-4xl text-7xl font-bold text-blurple uppercase">Idea junction</p>
          <span class="material-icons-outlined lg:text-5xl text-10xl text-blurple">diversity_3</span>
        </div>

        <p class="mt-4">Add your ideas to the topics you find most interesting!</p>

        
        <%= turbo_frame_tag "category_tags" do %>
          <%= render "category_results", categories: @categories, selected_category: "All", brainstorms: @brainstorms, all_brainstorms_count: @brainstorms.count %>
        <% end %>
        

        <%= turbo_frame_tag "filtered-content" do %>
          <%= render "public_brainstorms", brainstorms: @brainstorms, brainstorms_by_category: @brainstorms_by_category %>
        <% end %>
      
      </div>
      <div class="bg-dots-smaller mb-12 mt-8 h-40 mx-6"></div>
    </div>
    <%= render 'shared/footer' %>
  </div>
</div>