<div class="lg:hidden flex flex-col">
  <div class="bg-blurple px-6 h-screen flex flex-col justify-center">
    <%= form_with(url: '/go_to_brainstorm', remote: true) do |f| %>
      <div class="flex flex-row justify-between items-baseline mb-2 text-white">
        <label class="italic text-3xl font-bold leading-none " for="">BRAINSTORM ID</label>
      </div>
      <%= f.text_field :token, class: "border-solid border-t-2 border-l-2 border-b-2 border-black h-32 italic px-4 w-full focus:outline-none focus:text-black font-bold text-5xl text-lighter-gray my-shadow-lg", value: "#", autocomplete: "off" %>
      <div id="error-field-token-mobile">
        <%= render 'shared/validation_error' %>
      </div>
      <button type="submit" class="mt-16 py-4 w-full my-shadow-lg text-blurple text-6xl font-bold bg-yellowy cursor-pointer">JOIN SESSION
      </button>
    <% end %>
  </div>
</div>
<div style="background-color: rgba(49,39,131,0.9)" class="inset-0 fixed lg:block hidden">
  <div class="items-center max-w-screen-lg lg:mx-auto lg:my-0 lg:mt-12 2xl:mt-36">
    <div class="my-shadow-lg bg-white mx-auto py-12 px-16 text-left px-6">
      <!--Title-->
      <div class="flex flex-row items-center pb-8 ">
        <svg class="mr-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="44px" viewBox="0 0 22 44" version="1.1">
          <title>0A8AFE57-5D7F-4A41-BCD4-6E6B8A8CA7CB</title>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Desktop-HD" transform="translate(-1045.000000, -208.000000)" fill="#312783" fill-rule="nonzero">
              <g id="flash_on-24px" transform="translate(1045.000000, 208.000000)">
                <polygon id="Path" points="0 0 0 24.2 6.6 24.2 6.6 44 22 17.6 13.2 17.6 19.8 0" />
              </g>
            </g>
          </g>
        </svg>
        <p class="text-4xl font-bold text-blurple">JOIN SESSION</p>
      </div>
      <!-- content -->
      <%= form_with(url: '/go_to_brainstorm', remote: true) do |f| %>
        <div class="flex flex-row justify-between items-baseline mb-2">
          <label class="italic text-2xl font-bold leading-none" for="">BRAINSTORM ID</label>
          <p class="opacity-50 text-black italic font-semibold">ID your facilitator has sent you</p>
        </div>
        <div>
          <%= f.text_field :token, class: "border-solid border-2 border-black h-16 italic px-4 w-full focus:outline-none focus:text-black font-bold text-2xl text-lighter-gray", value: "#", autocomplete: "off" %>
        </div>
        <div id="error-field-token">
          <%= render 'shared/validation_error' %>
        </div>
      </div>
      <div class="mt-8 flex flex-row justify-between">
        <%= link_to root_path do %>
          <div class="cursor-pointer hvr-grow my-shadow-lg bg-white active:bg-blurple-gray text-lg font-bold h-14 w-14">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Chevron_small_left" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
              <path fill="#352288" d="M12.141,13.418c0.268,0.271,0.268,0.709,0,0.978c-0.268,0.27-0.701,0.272-0.969,0l-3.83-3.908  c-0.268-0.27-0.268-0.707,0-0.979l3.83-3.908c0.267-0.27,0.701-0.27,0.969,0c0.268,0.271,0.268,0.709,0,0.978L9,10L12.141,13.418z" />
            </svg>
          </div>
        <% end %>
        <button type="submit" class="hvr-grow px-8 my-shadow-lg text-blurple text-lg font-bold bg-light-greeny active:bg-light-greeny-darker cursor-pointer focus:outline-none">JOIN SESSION</button>
      </div>
    <% end %>
  </div>
  <!--/Dialog -->
</div>
<!-- /Overlay -->
