<div class="mx-auto px-4 xl:px-0 lg:max-w-screen-lg xl:max-w-screen-xl">
  <%= render 'shared/menu' %>
  <div class="flex flex-col">
    <div class="bg-blurple flex flex-col">
      <div class="bg-dots-smaller mt-12 h-24 mx-6"></div>
      <div class="bg-white w-full flex flex-col my-shadow px-14 lg:pb-24 pb-36">
        <%= link_to root_path do %>
          <div class="lg:-mt-10 -mt-16 italic bg-black w-32 h-32 lg:w-20 lg:h-20 text-white text-7xl lg:text-5xl flex font-bold items-center justify-center">
            <span>B</span>
          </div>
        <% end %>

        <div class="flex justify-between items-center lg:mt-12 mt-24">
          <p class="lg:text-4xl text-7xl font-bold text-blurple">JOIN SESSION</p>
          <span class="material-icons-outlined lg:text-5xl text-10xl text-blurple">flash_on</span>
        </div>

      <%= form_with(url: '/go_to_brainstorm', remote: true) do |f| %>
        <div class="flex flex-row justify-between items-baseline lg:mt-8 mt-20 lg:mb-2 mb-4">
          <label class="italic lg:text-2xl text-5xl font-bold leading-none" for="">BRAINSTORM ID</label>
          <p class="opacity-50 text-black italic font-semibold lg:text-base text-3xl">ID from your facilitator</p>
        </div>
        <div>
          <%= f.text_field :token, class: "border-solid border-2 border-black lg:h-12 italic px-4 w-full focus:outline-none focus:text-black font-bold lg:text-xl text-6xl text-lighter-gray", value: "#", autocomplete: "off" %>
        </div>
        <div id="error-field-token">
          <%= render "shared/validation_error" %>
        </div>
      </div>
      <div class="lg:mt-8 mt-20 lg:mb-0 mb-8 flex flex-row justify-between">
        <%= link_to root_path do %>
          <span class="material-icons lg:p-3 p-5 lg:text-5xl text-8xl text-blurple hvr-grow active:bg-blurple-gray cursor-pointer my-shadow bg-white font-bold">chevron_left</span>
        <% end %>
        <button type="submit" class="hvr-grow my-shadow-lg text-blurple lg:text-lg text-5xl lg:px-10 px-16 font-bold bg-light-greeny active:bg-light-greeny-darker cursor-pointer focus:outline-none">JOIN SESSION</button>
      </div>
    <% end %>


          

      

      </div>
      <div class="bg-dots-smaller mb-12 mt-8 h-40 mx-6"></div>
    </div>
    <%= render 'shared/footer' %>
  </div>
</div>




