<%= render 'nav' %>
<div id="setup-facilitator">
  <%= render 'setup_facilitator' %>
</div>
<div id="setup-participant">
  <%= render 'setup_participant' %>
</div>
<div id="ideate">
  <%= render 'ideate' %>
</div>

<script>
  currentUser = {
    id: '<%= @session_id %>',
    name: false,
    currentUserName: '<%= @current_user_name %>',
    facilitator: '<%= @is_user_facilitator %>'
  };

  const openModalToSetName = () => {
    if (!currentUser.name) {
      document.getElementById("modalContainer").setAttribute("x-data", "{ 'showModal': true }")
    }
  }

  const showCurrentUser = () => {
    let currentUserElement = document.getElementById(currentUser.id)
    currentUserElement.parentNode.appendChild(currentUserElement)
    let wrapper = document.createElement('div');
    currentUserElement.parentNode.insertBefore(wrapper, currentUserElement);
    wrapper.appendChild(currentUserElement);
    wrapper.classList.add("bg-black", "cursor-pointer")
    currentUserElement.classList.add("bg-white", "text-black")
    currentUserElement.classList.remove("bg-purply", "bg-greeny", "bg-yellowy", "bg-reddy")

    currentUserElement.parentNode.onclick = () => {
      document.getElementById("modalContainer").setAttribute("x-data", "{ 'showModal': true }")
    }
  }

  const showTimeIsUpModal = () => {
    document.getElementById("modalContainer").setAttribute("x-data", "{ 'timeIsUpModal': true }")
  }

  const setCurrentUserName = (name) => {
    currentUser.currentUserName = name
  }
</script>

<%= javascript_pack_tag 'show' %>