<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field mb-4">
    <%= f.label :password, "New password", class: "italic text-lg font-bold leading-none" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "mt-1 focus:outline-none border-solid border-2 border-black h-10 italic font-bold px-4 w-full" %>
    <% if resource.errors[:password].any? %>
      <div class="leading-none p-2 mt-1 text-sm font-bold italic text-white bg-wine">
        <span><%= resource.errors[:password].last %></span>
      </div>
    <% end %>
  </div>

  <div class="field mb-4">
    <%= f.label :password_confirmation, "Confirm new password", class: "italic text-lg font-bold leading-none mb-2" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 focus:outline-none border-solid border-2 border-black h-10 italic font-bold px-4 w-full" %>
    <% if resource.errors[:password_confirmation].any? %>
      <div class="leading-none p-2 mt-1 text-sm font-bold italic text-white bg-wine">
        <span><%= resource.errors.full_messages.last %></span>
      </div>
    <% end %>
  </div>

  <div class="text-xs">
    <%= render "users/shared/links" %>
  </div>

  <div class="actions flex justify-end mt-10">
    <%= f.submit "Change my password", class: "hvr-grow px-10 py-2 my-shadow-lg text-blurple text-lg font-bold bg-light-greeny active:bg-light-greeny-darker cursor-pointer" %>
  </div>
<% end %>
