<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field lg:mb-4 mb-16">
    <%= f.label :password, "New password", class: "italic lg:text-lg text-3xl font-bold leading-none" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "mt-1 focus:outline-none border-solid border-2 border-black lg:text-base text-5xl lg:h-10 h-24 italic font-bold px-4 w-full" %>
    <% if resource.errors[:password].any? %>
      <div class="leading-none p-2 mt-1 lg:text-sm text-2xl font-bold italic text-white bg-wine">
        <span><%= resource.errors[:password].last %></span>
      </div>
    <% end %>
  </div>

  <div class="field mb-4">
    <%= f.label :password_confirmation, "Confirm new password", class: "italic lg:text-lg text-3xl font-bold leading-none mb-2" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 focus:outline-none border-solid border-2 border-black lg:text-base text-5xl lg:h-10 h-24 italic font-bold px-4 w-full" %>
    <% if resource.errors[:password_confirmation].any? %>
      <div class="leading-none p-2 mt-1 lg:text-sm text-2xl font-bold italic text-white bg-wine">
        <span><%= resource.errors.full_messages.last %></span>
      </div>
    <% end %>
  </div>

  <div class="text-xs">
    <%= render "users/shared/links" %>
  </div>

  <div class="actions flex justify-end mt-10">
    <%= f.submit "Change my password", class: "hvr-grow lg:mt-0 mt-24 lg:mb-0 mb-20 px-10 lg:px-10 px-16 lg:py-2 py-6 my-shadow-lg text-blurple lg:text-lg text-4xl font-bold bg-light-greeny active:bg-light-greeny-darker cursor-pointer" %>
  </div>
<% end %>
