<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div class="field">
    <%= f.label :email, class: "italic lg:text-lg text-3xl font-bold leading-none" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 focus:outline-none border-solid border-2 border-black lg:text-base text-5xl lg:h-10 h-24 italic font-bold px-4 w-full" %>
      <% if resource.errors[:email].any? %>
      <div class="leading-none p-2 mt-1 lg:text-sm text-2xl font-bold italic text-white bg-wine">
        <span><%= resource.errors.full_messages.last %></span>
      </div>
    <% end %>
  </div>

  <div class="text-xs mt-4">
    <%= render "users/shared/links" %>
  </div>

  <div class="actions flex justify-end mt-10">
    <%= f.submit "Send instructions", class: "hvr-grow lg:px-10 px-16 lg:py-2 py-6 my-shadow-lg text-blurple lg:text-lg text-4xl font-bold bg-light-greeny active:bg-light-greeny-darker cursor-pointer lg:mt-0 mt-24 lg:mb-0 mb-20" %>
  </div>
<% end %>
