<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div class="field">
    <%= f.label :email, class: "italic text-lg font-bold leading-none" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 focus:outline-none border-solid border-2 border-black h-10 italic font-bold px-4 w-full" %>
      <% if resource.errors[:email].any? %>
      <div class="leading-none p-2 mt-1 text-sm font-bold italic text-white bg-wine">
        <span><%= resource.errors.full_messages.last %></span>
      </div>
    <% end %>
  </div>

  <div class="text-xs mt-4">
    <%= render "users/shared/links" %>
  </div>

  <div class="actions flex justify-end mt-10">
    <%= f.submit "Send instructions", class: "hvr-grow px-10 py-2 my-shadow-lg text-blurple text-lg font-bold bg-light-greeny active:bg-light-greeny-darker cursor-pointer" %>
  </div>
<% end %>
