
<div class="mx-auto px-4 xl:px-0 lg:max-w-screen-lg xl:max-w-screen-xl">
  <%= render 'shared/menu' %>
    <div class="flex flex-row h-full mb-12 my-shadow-lg bg-white">
      <div class="flex-col flex bg-white p-12 mb-4 h-full w-full">
        <div class="flex flex-row justify-between">
         <%= link_to root_path do %>
            <div class="-ml-16 italic bg-black w-32 h-32 lg:w-16 lg:h-16 text-white text-7xl lg:text-5xl flex font-bold items-center justify-center">
             <span>B</span>
            </div>
          <% end %>  
        </div>
          <h1 class="text-6xl lg:text-3xl font-semibold text-blurple mb-8 mt-10 lg:mt-0">Categories</h1>

          <%= turbo_frame_tag "categories" do %>
            <%= render @categories %>
          <% end %>

          <%= turbo_frame_tag Category.new %>

          <div class="flex flex-row justify-between">
            <%= link_to "+ Add category", new_category_path, class: "bg-light-greeny p-2 font-semibold hvr-grow my-shadow mt-4", data: { turbo_frame: dom_id(Category.new), turbo: true } %>
          </div>
      </div>
    </div>
  <%= render 'shared/footer' %>
</div>