<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1>Great work in your ideation session!</h1>
  <p>
    You came up with <%= @ideas.count %> ideas to solve the following problem: <br>
  </p>

  <h2 style="font-weight:bold"><%= @brainstorm.problem %></h2>

  <p>Here are your ideas sorted by most votes:</p>
  <% @ideas.each do |idea| %>
  <p>
    <span style="font-weight:bold"><%= idea.text %></span><br>
    <%= pluralize(idea.votes, "vote") %>
  </p>
  <p><%= idea.idea_builds.count > 0 ? "The idea inspired the following idea builds: " : "" %> </p>
  <% idea.idea_builds.each do |idea_build| %>
  <ul>
    <li><%= idea_build.idea_build_text %></li>
  </ul>
  <% end %>
  <% end %>
  <br>
  <p>If you have a paid account, you can <a href="<%= your_brainstorms_url %>">find your brainstorms here</a>.</p>

  <p>If you liked this way of doing ideation, you are always welcome to try it out again at <a href="<%= root_url %>">brainstormer.online</a>.</p>

  <p>If you have any feedback, questions or feature requests, don't be shy! You can press reply and let me know what you think!</p>
</body>

</html>