<!DOCTYPE html>
<html>

<head>
  <title>brainstormer.online</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
</head>

<body class="font-mono <%= action_name == "index" ? "bg-normal" : "bg-pattern" %>">
  <%= yield %>
</body>

</html>