<!DOCTYPE html>
<html>
  <head>
    <title>brainstormer.online</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Come up with great ideas together!">
    <meta name="description" content="Easy facilitation of online brainstorming sessions">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.brainstormer.online/">
    <meta property="og:title" content="Come up with great ideas together!">
    <meta property="og:description" content="Easy facilitation of online brainstorming sessions">
    <meta property="og:image" content="<%= asset_path('some_image.png') %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.brainstormer.online/">
    <meta property="twitter:title" content="Come up with great ideas together!">
    <meta property="twitter:description" content="Easy facilitation of online brainstorming sessions">
    <meta property="twitter:image" content="<%= asset_path('some_image.png') %>">
    <script src="https://js.stripe.com/v3"></script>
  </head>
  <body class="font-mono <%= if action_name == "pricing" || request.path == "/brainstorms/new" || request.path == "/brainstorms" || request.path == "/brainstorms/join-session" || request.path == "/go_to_brainstorm" ; "bg-blurple"; elsif action_name == "show"; "bg-pattern" else "bg-beigy"; end %>">
    <% unless move_flash_messages? %>
      <%= render "shared/flash" %>
    <% end %>
    <%= render "shared/feedback" %>
    <%= yield %>
  </body>
</html>

<script>
  const toggleMenu = () => {    
    const accountMenuItems = document.getElementById("accountMenuItems")
    const sideMenu = document.getElementById("sideMenu")


    sideMenu.classList.contains("animate-openmenu") ? sideMenu.classList.remove("animate-openmenu") : sideMenu.classList.add("animate-openmenu")
    
    accountMenuItems.classList.contains("hidden") ? accountMenuItems.classList.remove("hidden") : accountMenuItems.classList.add("hidden")
    accountMenuItems.classList.contains("flex") ? accountMenuItems.classList.remove("flex") : accountMenuItems.classList.add("flex")
  }
</script>
