<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "h-full flex flex-col gap-4" }) do |f| %>
  <h2 class="text-5xl lg:text-2xl font-semibold text-blurple mt-8">Your details</h2>
  <div class="field">
    <%= f.label :name, class: "italic lg:text-lg text-2xl font-bold leading-none mb-1" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "lg:text-base text-3xl focus:outline-none border-solid border-2 border-black lg:h-10 italic font-bold px-4 w-full" %>
    <% if resource.errors[:name].any? %>
      <div class="leading-none p-2 mt-1 lg:text-sm text-2xl font-bold italic text-white bg-wine">
        <span><%= resource.errors[:name][0] %></span>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email, class: "italic lg:text-lg text-2xl font-bold leading-none mb-1" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "lg:text-base text-3xl focus:outline-none border-solid border-2 border-black lg:h-10 italic font-bold px-4 w-full" %>
    <% if resource.errors[:email].any? %>
      <div class="leading-none p-2 mt-1 lg:text-sm text-2xl font-bold italic text-white bg-wine">
        <span><%= resource.errors[:email][0] %></span>
      </div>
    <% end %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class: "italic lg:text-lg text-2xl font-bold leading-none mb-1" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "lg:text-base text-3xl focus:outline-none border-solid border-2 border-black lg:h-10 italic font-bold px-4 w-full" %>
    <% if resource.errors[:password].any? %>
      <div class="leading-none p-2 mt-1 lg:text-sm text-2xl font-bold italic text-white bg-wine">
        <span><%= resource.errors[:password][0] %></span>
      </div>
    <% end %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "italic lg:text-lg text-2xl font-bold leading-none mb-1" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "lg:text-base text-3xl focus:outline-none border-solid border-2 border-black lg:h-10 italic font-bold px-4 w-full" %>
    <% if resource.errors[:password_confirmation].any? %>
      <div class="leading-none p-2 mt-1 lg:text-sm text-2xl font-bold italic text-white bg-wine">
        <span><%= resource.errors[:password_confirmation][0] %></span>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :current_password, class: "italic lg:text-lg text-2xl font-bold leading-none mb-1" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "lg:text-base text-3xl focus:outline-none border-solid border-2 border-black lg:h-10 italic font-bold px-4 w-full" %>
    <% if resource.errors[:current_password].any? %>
      <div class="leading-none p-2 mt-1 lg:text-sm text-2xl font-bold italic text-white bg-wine">
        <span><%= resource.errors.full_messages.last %></span>
      </div>
    <% end %>
    
  </div>

  <div class="actions flex justify-end mt-10">
    <%= f.submit "Update", class: "hvr-grow px-10 py-2 my-shadow-lg text-blurple lg:text-lg text-3xl font-bold bg-light-greeny active:bg-light-greeny-darker cursor-pointer" %>
  </div>
<% end %>