<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "h-full flex flex-col lg:gap-4 gap-12"}) do |f| %>

  <div class="field">
    <%= f.label :name, class: "italic lg:text-lg text-3xl font-bold leading-none" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "focus:outline-none border-solid border-2 border-black lg:text-base text-5xl lg:h-10 italic font-bold px-4 w-full lg:mt-1 mt-2" %>
    <% if resource.errors[:name].any? %>
      <div class="leading-none p-2 mt-1 lg:text-sm text-2xl font-bold italic text-white bg-wine">
        <span><%= resource.errors[:name][0] %></span>
      </div>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :email, class: "italic lg:text-lg text-3xl font-bold leading-none" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "focus:outline-none border-solid border-2 border-black lg:text-base text-5xl lg:h-10 italic font-bold px-4 w-full lg:mt-1 mt-2" %>
    <% if resource.errors[:email].any? %>
      <div class="leading-none p-2 mt-1 lg:text-sm text-2xl font-bold italic text-white bg-wine">
        <span><%= resource.errors[:email].last %></span>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password, class: "italic lg:text-lg text-3xl font-bold leading-none" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "focus:outline-none border-solid border-2 border-black lg:text-base text-5xl lg:h-10 italic font-bold px-4 w-full lg:mt-1 mt-2" %>
    <% if resource.errors[:password].any? %>
      <div class="leading-none p-2 mt-1 lg:text-sm text-2xl font-bold italic text-white bg-wine">
        <span><%= resource.errors[:password].last %></span>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "class: italic lg:text-lg text-3xl font-bold leading-none" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "focus:outline-none border-solid border-2 border-black lg:text-base text-5xl lg:h-10 italic font-bold px-4 w-full lg:mt-1 mt-2" %>
    <% if resource.errors[:password_confirmation].any? %>
      <div class="leading-none p-2 mt-1 lg:text-sm text-2xl font-bold italic text-white bg-wine">
        <span><%= resource.errors.full_messages.last %></span>
      </div>
    <% end %>
  </div>

  <div class="field mt-4">
    <div class="flex flex-row items-center lg:gap-4 gap-12 lg:text-base text-3xl">
      <%= f.check_box :privacy_policy_agreement, as: :boolean, class: "w-20 h-20 lg:h-6 lg:w-6" %>
      <p>I agree to Brainstormer's <%= link_to "privacy policy", privacy_policy_path, target: "_blank", class: "underline" %></p>
    </div>
    <% if resource.errors[:privacy_policy_agreement].any? %>
      <div class="leading-none p-2 mt-1 lg:text-sm text-2xl font-bold italic text-white bg-wine">
        <span><%= resource.errors.full_messages.last %></span>
      </div>
    <% end %>
  </div>

  <div class="flex flex-row justify-between lg:mt-10 mt-24">
    <%= link_to select_sign_up_method_path do %>
      <span class="material-icons border-solid border-2 border-blurple lg:text-5xl text-9xl text-blurple hvr-grow active:bg-blurple-gray cursor-pointer my-shadow bg-white font-bold">chevron_left</span>
    <% end %>

    <div class="actions flex">
      <%= f.submit "Sign up", class: "uppercase hvr-grow lg:px-10 px-16 my-shadow-lg text-blurple lg:text-lg text-4xl font-bold bg-light-greeny active:bg-light-greeny-darker cursor-pointer" %>
    </div>
  </div>
<% end %>